.logo {
    display: block;
    margin-bottom: 20px;
    &-footer {
            color: var(--text-title);
        }
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;

    &-address {
        margin-right: 70px;
    }

    &-box {
        display: flex;
        align-items: baseline;
    }
}

.footer-icon {
    fill: var(--text-title);
}

.footer-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-title);
    margin-bottom: 20px;
}

.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--text-link-act);
    fill: var(--text-link-act);
}
.footer-content:last-child {
    margin-left: auto;
}