.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border);

      &-container {
      display: flex;
      align-items: center;
    }

      &-contacts {
          display: flex;
          align-items: center;
          margin-left: auto;
          gap: 30px;
        }
}

.header-list {
  display: flex;
  margin-right: auto;
  gap: 50px;
}
.header .logo {
  margin-right: 93px;
}

.logo-header {
  color: var(--logo-color);

}.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition);

  &-link:hover,
  &-link:focus {
      color: var(--text-link-act);
      fill: var(--text-link-act);
    }
}
.contact-item {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

